$thumbnail-size: 32pt;

$event-border-color: #ccc;
$event-border-size: 1pt;

$dot-size: 10pt;
$dot-color: #ccc;

$add-event-button-size: 40pt;

$connector-line-thickness: 1pt;
$connector-line-color: #ccc;

$regular: 400;
$medium: 500;
$semi-bold: 600;
